.DigitalAssistants {
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* .profile-wrapper {
    padding: 3em;
    width: 100%;
    display: flex;
    gap: 5em;
    box-sizing: border-box;
} */